
.sidebar {
  position: fixed;
  height: 100vh;
  border-width: 1px;
  transform: translateX(0%);
  transition: width 0.3s ease;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

.active {
  padding-left: 20px !important;
  background-color:var(--chakra-colors-green-500);
  color: white !important;
}

.wrapperItems {
  display: flex !important;
  flex-direction: column  !important;
  gap: 10px !important;
  width: 100% !important;
  margin-top: 60px !important;
}

.headerLogo{
  display: flex;
  width: 100%;
  justify-content: center;
}

.listItems {
  padding: 0 !important;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
  &:hover{
    background-color: #2D3748;
    color: black;
  }
}

.navMenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  ul {
    &, li {
      padding: 0 !important;
      margin: 0px !important;
      list-style: none  !important;
      width: 100% !important;
      font-size: 14px !important;
    }
    li {
      a {
        display: block;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #5a5a5a;
        position: relative;
        transition:.3s padding-left ease;
        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 0px;
          background-color: green;
          opacity: 0;
          visibility: hidden;
          transition: .3s opacity ease, .3s visibility ease, .3s width ease;
        }
        &:active, &:focus, &:hover {
          outline: none;
        }
        &:hover {
          background: lighten(#efefef, 5%);
          color: var(--chakra-colors-gray-700);
          font-weight: 600;
          &:before {
            width: 4px;
            opacity: 1;
            visibility: visible;
          }
        }
      }
      &.active {
        a {
          background: lighten(#efefef, 5%);
          color: var(--chakra-colors-gray-700);
          &:before {
            opacity: 1;
            visibility: visible;
            width: 4px;
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 768px){
  .sidebar {
    width: 65% !important;
    z-index: 2;
    height: 100%;
    transform: translateX(0%);
    transition: width 0.3s ease;
  }
}
