.header {
  padding-left: 1rem;
  padding-right: 1rem;
  height: 5rem;
  width: 100%;
  position: fixed;
  align-items: center;
  z-index: 20;
  border-bottom-width: 1px;
  justify-content: space-between;
}

.iconButton {
  height: 35px;
  width: 35px;
  color: white;
  border-radius: 0.5rem !important;
  min-width: 0;
  background: none;
  box-shadow: 0px 6px 12px 0 rgb(0 0 0 / 10%);
}