#globalLoader {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;

  img{
    width: 150px;
    height: 150px;
  }
}

.inputDateFilter input{
  width: 100%;
  min-width: 0px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  position: relative;
  font-size: var(--chakra-fontSizes-sm);
  padding-inline-start: var(--chakra-space-3);
  padding-inline-end: var(--chakra-space-3);
  height: var(--chakra-sizes-8);
  border-radius: var(--chakra-radii-sm);
  border: 1px solid;
  border-color: inherit;
  background: inherit;

  &:focus-visible{
    z-index: 1;
    border-color: #2F855A;
    box-shadow: 0 0 0 1px #2f855a;
  }
}