.iconButton{
  color: var(--chakra-colors-green-600) !important;
  border-radius: 0% !important;
  border-width: 1px !important;
  height: 1.8rem !important;
}

.iconButton:hover{
  background-color: var(--chakra-colors-green-600) !important;
  color: white !important;
}

.listNum> .iconButton:first-child{
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.listNum >.iconButton:last-child{
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}